<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645114507661-sgnmvtgasr32f4urvvn09rq0kc4gsk3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645114507661-sgnmvtgasr32f4urvvn09rq0kc4gsk3e</string>
	<key>API_KEY</key>
	<string>AIzaSyDjp8T_9u2JYjoXOqlZYYQqZUyXWHKeud4</string>
	<key>GCM_SENDER_ID</key>
	<string>645114507661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ft.Blue-Light</string>
	<key>PROJECT_ID</key>
	<string>bluelight-database</string>
	<key>STORAGE_BUCKET</key>
	<string>bluelight-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645114507661:ios:cb292ea6700c13264d8dc4</string>
</dict>
</plist>